body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    background-color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

#container {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.squares {
    width: 6.25%;   
    aspect-ratio: 1/1;  /* Used to make perfect squares */
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box; /* Used so that the width specified includes any borders/margins */
}

.hovered {
    background-color: aqua;
}

/* Proper way of setting CSS for hovered elements */
/* .squares:hover {
    background-color: aqua;
} */